<!-- Tags -->
{% include "partials/tags.html" %}

<!-- Actions -->
{% include "partials/actions.html" %}

<!--
  Hack: check whether the content contains a h1 headline. If it doesn't, the
  page title (or respectively site name) is used as the main headline.
-->
{% if "\x3ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}

<!-- Page content -->
{{ page.content }}

<!-- Source file information -->
{% include "partials/source-file.html" %}
  {% if "content.action.view" in config.theme.features %}
    {% if page.edit_url and config.repo_url %}
      <!-- Custom logic for GitHub raw URLs -->
      {% set repo_type = config.repo_url.split('/')[2] %}
      {% if repo_type == "github.com" %}
        {% set repo_parts = config.repo_url.split('/')[-2:] %}
        {% set repo_owner = repo_parts[0] %}
        {% set repo_name = repo_parts[1] %}
        {% set file_path = page.file.src_path %}
        {% set view_url = "https://raw.githubusercontent.com/" ~ repo_owner ~ "/" ~ repo_name ~ "/refs/heads/main/docs/" ~ file_path %}
      {% else %}
        <!-- Fallback for non-GitHub repos -->
        <a
          href="{{ page.edit_url | replace('edit', 'raw') }}"
          title="{{ lang.t('view.link.title') }}"
          class="md-content__button md-icon"
        >
          {% set icon = config.theme.icon.view or "material/eye" %}
          {% include ".icons/" ~ icon ~ ".svg" %}
        </a>
      {% endif %}
    {% endif %}
  {% endif %}

<!-- Was this page helpful? -->
{% include "partials/feedback.html" %}

<!-- Comment system -->
{% include "partials/comments.html" %}
